*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
button{
    border: 0;
    background: transparent;
}
a{
    text-decoration: none;
    color: black;
}
h1,h2,h3,h4,h5,h6{
    font-size: 16px;
    font-weight: 400;
}
input{
    border: none;
}
input::placeholder{
    color: black;
}
input:focus{
    border: 1px solid black;
}
b,strong{
    font-weight: 400;
}
ul,ol{
    
}
li{
    list-style: none;
}